# Strava token.
strava_token.json

# Ignore all files in the /data directory
data/*

# Keep the /data directory
!data/.gitkeep

# Ignoring Pychache.
*.pyc
*.pyo
__pycache__/

# Ignore log files.
logs/

# Ignore R History
*.Rhistory

# Ignore mac's dumb stupid dumb thing
*.DS_Store